<nav class="grey lighten-4" role="navigation">
    <div class="nav-wrapper container"><a href="{{ site.baseurl }}/" class="brand-logo" title="keyboard_colab">{{ site.name }}</a>
        <ul class="right hide-on-med-and-down">
            {% for my_page in site.pages %}
                {% if my_page.title %}
                    <li><a class="page-link" href="{{ my_page.url | prepend: site.baseurl }}">{{ my_page.title }}</a></li>
                {% endif %}
            {% endfor %}
        </ul>
        <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
    </div>
</nav>

